<link href="view_password_dialog/view_password_dialog.css" rel="stylesheet">

<div class="modal-header">
  <h3 class="modal-title">Credentials required</h3>
</div>
<div class="modal-body">
  Realm: {{auth.realm}}
  <br/>
  Username: <input type="text" ng-model="auth.username"></input>
  <BR />
  Password: <input type="password" ng-model="auth.password"></input>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
