<div class="panel-heading" >
  <span ng-show="! cluster">
    <span class="glyphicon glyphicon-arrow-left" ></span>
    <span class="glyphicon glyphicon-arrow-right pull-right" ></span>
    <span class="glyphicon glyphicon-edit pull-right" ng-click="open_card('lg', card)" ></span>
    <span class="glyphicon glyphicon-trash pull-right" ng-click="remove_card(list, card)"></span>
    <a href="{{card.link}}" target="_blank" ng-show="card.link" class="glyphicon glyphicon-link pull-right" ></a>
  </span>
  <span ng-show="cluster">&nbsp;</span>
</div>
<div class="panel-body" contenteditable="true" mk-blur-on-enter ng-model="card.text" ></div>
<div class="panel-footer" ng-show="card.tags && card.tags.length > 0"><span ng-repeat="tag in card.tags"><span class="badge">{{tag}}</span> </span></div>
