<link href="view_board/view_board.css" rel="stylesheet">


<h1 class="boardname">{{ board.name }}</h1>
<div class="datepicker">
  <input type="checkbox" ng-model="current">Current</input>
  <input type="text" ng-disabled="current">As Of</input>
</div>
<div class="row" ui-sortable="listSortableOptions" ng-model="board.lists">

  <!-- the list container -->
  <div data-ng-repeat="list in board.lists" class="col-md-2 mk-listContainer">

    <span class="listName" contenteditable="true" mk-blur-on-enter ng-model="list.name" />

      <span ng-controller="DropdownCtrl" class="pull-right">
        <!-- Simple dropdown -->
        <span class="dropdown"  dropdown>
          <span class="dropdown-toggle glyphicon glyphicon-list" dropdown-toggle></span>
          <ul class="dropdown-menu dropdown-menu-right">
            <li role="presentation" class="dropdown-header">Group by:</li>
            <li><a ng-click="groupBy(board,list)">None<span ng-show="!uiSelectedGroupByAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span></a></li>
            <li class="divider"></li>

            <li ng-repeat="attr in uiGroupByAttributes">
              <a ng-click="groupBy(board, list, attr)">{{attr.name}}
                <span ng-show="attr == uiSelectedGroupByAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span>
              </a>
            </li>
          </ul>
        </span>
        <span class="dropdown"  dropdown>
          <span class="dropdown-toggle glyphicon glyphicon-stats" dropdown-toggle></span>
          <ul class="dropdown-menu dropdown-menu-right">
            <li role="presentation" class="dropdown-header">Aggregate by:</li>
            <li><a ng-click="aggregate(board,list)">None<span ng-show="!uiSelectedAggregateAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span></a></li>
            <li class="divider"></li>
            <li ng-repeat="attr in uiAggregateAttributes" >
              <a ng-click="aggregate(board, list, attr)">{{attr.name}}
               <span ng-show="attr == uiSelectedAggregateAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span>
              </a>
            </li>
          </ul>
        </span>
      </span>


      <!-- TODO: Cluster tag or attribute, Aggregate function and attribute -->

      <!-- the list itself (sortable) -->
      <div ng-show="!uiGroups[list.href]">
        <div ui-sortable="cardSortableOptions" class="mk-list" ng-model="list.contents">
          <div data-ng-repeat="card in list.contents"
                mk-card
                mk-link-grabber ng-model="card"
                class="panel panel-default mk-card"></div>
          <div ng-show="list.contents.length == 0"><!--dropzone if no card is in list--><br/></div>
        </div>


        <div ng-show="uiAggregates[list.href] != undefined" class="pull-right">
          {{uiAggregates[list.href]}}
        </div>

        <div class="addCard"><a ng-click="new_card('lg', list)">Add Card...</a></div>
      </div>

      <!-- the list itself, clustered, unsortable -->
      <div ng-show="uiGroups[list.href]">
        <div class="mk-list">
          <div ng-repeat="group in uiGroups[list.href]">
            <div class="mk-clusterheader">
              <span class="mk-clustertitle">{{group.groupValue}}</span><span class="mk-clusteraggregate" ng-show="group.uiAggregate">{{group.uiAggregate}}</span>
              <hr />
            </div>
            <div data-ng-repeat="card in group.contents"
                  mk-card
                  mk-link-grabber ng-model="card"
                  class="panel panel-default mk-card"></div>
          </div>
        </div>

        <div ng-show="uiAggregates[list.href] != undefined" class="pull-right">
          {{uiAggregates[list.href]}}
        </div>
      </div>


    </div> <!-- list container -->

    <div class="col-md-2">
      <a ng-click="new_list()">Add List...</a>
    </div>
  </div>
</div>
