<div class="panel-heading" >
  <span ng-show="! cluster">
    <span class="glyphicon glyphicon-arrow-left" ></span>
    <span class="glyphicon glyphicon-arrow-right pull-right" ></span>
    <span class="glyphicon glyphicon-edit pull-right" ng-click="open_card('lg', card)" ></span>
    <span class="glyphicon glyphicon-trash pull-right" ng-click="removeCard(list, card)"></span>
    <a data-ng-repeat="link in relatedLinks(card)" href="{{link.href}}" target="_blank" class="glyphicon glyphicon-link pull-right" popover="{{link.title}}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"></a>
  </span>
  <span ng-show="cluster">&nbsp;</span>
</div>
<div class="panel-body" contenteditable="true" mk-blur-on-enter ng-model="card.title" ></div>
<div class="panel-footer" ng-show="card.tag && card.tag.length > 0"><span ng-repeat="tag in card.tag"><span class="badge">{{tag}}</span> </span></div>
