<link href="view_board_details/view_board_details.css" rel="stylesheet">

<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-show="board == null">
  <h1>Board {{boardid}} not available<span ng-show="at"> at {{at | date:'yyyy-MM-dd HH:mm:ss'}}</span></h1>
</div>

<div ng-show="board != null">
  <span class="boardName">
    <span contenteditable="true" mk-blur-on-enter ng-model="board.title" ng-show="at == null"/>
    <span ng-show="at != null">{{board.title}}</span>
    <span ng-show="at"> as of {{at | date:'yyyy-MM-dd HH:mm:ss'}}</span>
  </span>

  <div class="row" ui-sortable="listSortableOptions" ng-model="board.entry">

    <!-- the list container -->
    <div data-ng-repeat="list in visibleLists()" class="col-md-2 mk-listContainer">

      <span class="listName" contenteditable="true" mk-blur-on-enter ng-model="list.title" ng-show="at == null" />
      <span class="listName" ng-show="at != null" >{{list.title}}</span>

        <span class="pull-right">
          <span class="glyphicon glyphicon-trash" ng-click="removeList(board, list)"  ng-show="getLinkOfRel(list, 'remove')"></span>
          <!-- Simple dropdown -->
          <span class="dropdown"  dropdown>
            <span class="dropdown-toggle glyphicon glyphicon-list" dropdown-toggle></span>
            <ul class="dropdown-menu dropdown-menu-right">
              <li role="presentation" class="dropdown-header">Group by:</li>
              <li><a ng-click="groupBy(board,list)">None<span ng-show="!uiSelectedGroupByAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span></a></li>
              <li class="divider"></li>

              <li ng-repeat="attr in uiGroupByAttributes">
                <a ng-click="groupBy(board, list, attr)">{{attr.name}}
                  <span ng-show="attr == uiSelectedGroupByAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span>
                </a>
              </li>
            </ul>
          </span>
          <span class="dropdown"  dropdown>
            <span class="dropdown-toggle glyphicon glyphicon-stats" dropdown-toggle></span>
            <ul class="dropdown-menu dropdown-menu-right">
              <li role="presentation" class="dropdown-header">Aggregate by:</li>
              <li><a ng-click="aggregate(board,list)">None<span ng-show="!uiSelectedAggregateAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span></a></li>
              <li class="divider"></li>
              <li ng-repeat="attr in uiAggregateAttributes" >
                <a ng-click="aggregate(board, list, attr)">{{attr.name}}
                 <span ng-show="attr == uiSelectedAggregateAttribute[list.href]" class="pull-right glyphicon glyphicon-ok"></span>
                </a>
              </li>
            </ul>
          </span>
        </span>


        <!-- TODO: Cluster tag or attribute, Aggregate function and attribute -->

        <!-- the list itself (sortable) -->
        <div ng-show="!uiGroups[list.href]">
          <div ui-sortable="cardSortableOptions" class="mk-list" ng-model="list.entry">
            <div data-ng-repeat="card in list.entry"
                  mk-card
                  mk-link-grabber ng-model="card"
                  class="panel panel-default mk-card"></div>
            <div ng-show="list.entry.length == 0"><!--dropzone if no card is in list--><br/></div>
          </div>

          <div ng-show="uiAggregates[list.href] != undefined" class="pull-right">
            {{uiAggregates[list.href]}}
          </div>

          <div class="addCard" ng-show="at == null"><a ng-click="newCard(list)">Add Card...</a></div>
        </div>

        <!-- the list itself, clustered, unsortable -->
        <div ng-show="uiGroups[list.href]">
          <div class="mk-list">
            <div ng-repeat="group in uiGroups[list.href]">
              <div class="mk-clusterheader">
                <span class="mk-clustertitle">{{group.groupValue}}</span><span class="mk-clusteraggregate" ng-show="group.uiAggregate">{{group.uiAggregate}}</span>
                <hr />
              </div>
              <div data-ng-repeat="card in group.contents"
                    mk-card
                    mk-link-grabber ng-model="card"
                    class="panel panel-default mk-card"></div>
            </div>
          </div>

          <div ng-show="uiAggregates[list.href] != undefined" class="pull-right">
            {{uiAggregates[list.href]}}
          </div>
        </div>


      </div> <!-- list container -->

      <div class="col-md-2">
        <a ng-show="at == null" ng-click="newList(board)">Add List...</a>
      </div>
    </div>
  </div>
</div>

<div class="dropup" style="position:absolute; bottom:0; ">
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
    <i class="glyphicon glyphicon-calendar"></i>view at specific date</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="at" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
  <span ng-show="at != null">&nbsp;&middot;&nbsp;&nbsp;<a ng-click="navigateToCurrentVersion()">current version</a></span>

</div>
