<link href="view_board_details/view_board_details.css" rel="stylesheet">

<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-show="board == null">
  <h1>Board {{boardid}} not available<span ng-show="at"> at {{at | date:'yyyy-MM-dd HH:mm:ss'}}</span></h1>
</div>

<div ng-show="board != null">
  <span class="boardName">
    <span contenteditable="true" mk-blur-on-enter ng-model="board.title" ng-show="at == null"/>
    <span ng-show="at != null">{{board.title}}</span>
    <span ng-show="at"> as of {{at | date:'yyyy-MM-dd HH:mm:ss'}}</span>
  </span>

  <div class="row" ui-sortable="listSortableOptions" ng-model="board.entry">

    <!-- the list container -->
    <div data-ng-repeat="list in visibleLists()" class="col-md-2 mk-listContainer">

      <span class="listName" contenteditable="true" mk-blur-on-enter ng-model="list.title" ng-show="at == null" />
      <span class="listName" ng-show="at != null" >{{list.title}}</span>

        <span class="pull-right">
          <span class="glyphicon glyphicon-trash" ng-click="removeList(board, list)"  ng-show="getLinkOfRel(list, 'remove')"></span>

          <!-- group by dropdown -->
          <span class="dropdown"  dropdown>
            <span class="dropdown-toggle glyphicon glyphicon-list" dropdown-toggle></span>
            <ul class="dropdown-menu dropdown-menu-right">
              <li role="presentation" class="dropdown-header">Group by:</li>
              <li><a ng-click="setGroupBy(list, undefined)">None<span ng-show="!getGroupBy(list)" class="pull-right glyphicon glyphicon-ok"></span></a></li>
              <li class="divider"></li>

              <li ng-repeat="grouping in groupingsAvailable">
                <a ng-click="setGroupBy(list, grouping)">{{grouping.name}}
                  <span ng-show="getGroupBy(list) === grouping" class="pull-right glyphicon glyphicon-ok"></span>
                </a>
              </li>
            </ul>
          </span>

          <!-- aggregate dropdown -->
          <span class="dropdown"  dropdown>
            <span class="dropdown-toggle glyphicon glyphicon-stats" dropdown-toggle></span>
            <ul class="dropdown-menu dropdown-menu-right">
              <li role="presentation" class="dropdown-header">Aggregate by:</li>
              <li><a ng-click="list.$aggregate = null">None<span ng-show="!list.$aggregate" class="pull-right glyphicon glyphicon-ok"></span></a></li>
              <li class="divider"></li>
              <li ng-repeat="attr in aggregatesAvailable" >
                <a ng-click="list.$aggregate = attr">{{attr.name}}
                 <span ng-show="attr === list.$aggregate" class="pull-right glyphicon glyphicon-ok"></span>
                </a>
              </li>
            </ul>
          </span>
        </span>

        <!-- the list itself (sortable) -->
        <div ng-show="!getGroups(list)">
          <div ui-sortable="cardSortableOptions" class="mk-list" ng-model="list.entry">
            <div data-ng-repeat="card in list.entry"
                  mk-card
                  mk-link-grabber ng-model="card"
                  class="panel panel-default mk-card"></div>
            <div ng-show="list.entry.length == 0"><!--dropzone if no card is in list--><br/></div>
          </div>

          <div ng-show="list.$aggregate" class="pull-right">
            {{list.$aggregate.name}}: {{list.$aggregate.display(aggregate(list, list.$aggregate))}}
          </div>

          <div class="addCard" ng-show="at == null"><a ng-click="newCard(list)">Add Card...</a></div>
        </div>

        <!-- the list itself, clustered, unsortable -->
        <div ng-show="getGroups(list)">
          <div class="mk-list">
            <div ng-repeat="group in getGroups(list)">
              <div class="mk-clusterheader">
                <span class="mk-clustertitle">{{getGroupBy(list).display(group.groupValue)}}</span><span class="mk-clusteraggregate" ng-show="list.$aggregate">{{list.$aggregate.display(aggregate(group, list.$aggregate))}}</span>
                <hr />
              </div>
              <div data-ng-repeat="card in group.entry"
                    mk-card
                    mk-link-grabber ng-model="card"
                    class="panel panel-default mk-card"></div>
            </div>
          </div>

          <div ng-show="list.$aggregate" class="pull-right">
            {{list.$aggregate.name}}: {{list.$aggregate.display(aggregate(list, list.$aggregate))}}
          </div>
        </div>


      </div> <!-- list container -->

      <div class="col-md-2">
        <a ng-show="at == null" ng-click="newList(board)">Add List...</a>
      </div>
    </div>
  </div>
</div>

<div class="dropup" style="position:absolute; bottom:0; ">
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
    <i class="glyphicon glyphicon-calendar"></i>view at specific date</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="at" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
  <span ng-show="at != null">&nbsp;&middot;&nbsp;&nbsp;<a ng-click="navigateToCurrentVersion()">current version</a></span>
  <!--span ng-show="at != null">&nbsp;&middot;&nbsp;&nbsp;<a ng-click="navigateToVersionAt(new Date(at + 3600*1000))">+1h</a></span-->

</div>
