<div class="modal-header">

  <h3 class="modal-title">{{tempCard.title}}</h3>
</div>

<div class="modal-body">
  <textarea style="width: 100%; height: 100%" type="text" ng-model="tempCard.back"></textarea>

  <h5>Attributes</h5>
  <div data-ng-repeat="(key, value) in tempCard.attribute">
    {{key}} ({{value.type}}) <input type="text" ng-model="value.value"></input>
  </div>
  <h5>Tags</h5>
  <div data-ng-repeat="tag in tempCard.tag">
    {{tag}}
  </div>
  <h5>Link</h5>
  <div data-ng-repeat="link in tempCard.link">
    {{link.title}} <a href="{{link.href}}" target="_blank">{{link.href}}</a>
  </div>
</div>
<div class="modal-footer">
  <span class="pull-left">{{tempCard.href}}</span>
  <button class="btn btn-primary" ng-click="ok()" ng-show="! readOnly">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
